.question{
    margin-top: 600px;
    padding: 0 100px;
    border: 1px solid slategray;
    margin: 0 150px;
    border-radius: 8px;
}
.question h1{
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .question{
        padding: 8px;
        gap: 30px;
        margin: 0 20px;

    }
  }