.cart{
    position: sticky;
    top: 0;
    margin-right: 30px;
}
.spent-container {
    background-color: rgba(96, 71, 236, 0.1);
    color: #6047EC;
    border: 1px solid #6047EC;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}
.blogs-container {
    margin-top: 30px;
    width: 200px;
    background-color: rgba(96, 71, 236, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .cart{
        padding: 0;
        width: 450px;
        margin: 0 20px;
    }
    
  }